
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@model Web_MVC.Models.News

<!--Content Header-->
<div class="content-header">
    <h1>
        News
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="../../Admin/News/Add">News</a></li>
        <li class="active"><a href="#">Edit</a></li>
    </ol>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit News</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="box-body">
                        <div class="form-group">
                            <label>Title</label>
                            <textarea name="title" rows="3" class="form-control" value="@Model.Title.TrimEnd()">@Model.Title</textarea>
                        </div>
                        <div class="form-group">
                            <label>Summary</label>
                            <textarea name="summary" class="form-control" rows="4" value="@Model.Summary.TrimEnd()">@Model.Summary</textarea>
                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            <textarea name="content" value="@Model.Content.TrimEnd()">@Model.Content</textarea>
                            <script type="text/javascript">CKEDITOR.replace("content");</script>
                        </div>
                        <div class="form-group">
                            <label>Poster</label>
                            <input type="text" class="form-control" name="poster" value="@Model.Poster.TrimEnd()" placeholder="Enter poster">
                        </div>
                        <div class="form-group">
                            <label>Date posted</label>
                            <input type="text" class="form-control" name="dateposted" value="@Model.Date_posted.TrimEnd()" placeholder="Enter date posted">
                        </div>
                        <div class="form-group">
                            <label>Author</label>
                            <input type="text" class="form-control" name="author" value="@Model.Author.TrimEnd()" placeholder="Enter author">
                        </div>
                    </div>
                        <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

