@{
    Layout = null;
    HttpApplicationState application = HttpContext.Current.ApplicationInstance.Application;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/Content/css/bootstrap.css" type="text/css">

    <!-- Owl Carousel Assets -->
    <link href="/Content/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/Content/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Content/css/style.css">
    <link href="/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/Content/font-awesome-4.4.0/css/font-awesome.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <!-- Core JavaScript Files -->
    <script src="/Content/js/bootstrap.js"></script>
</head>

<header>
    <!--Navigation-->
    <nav id="menu" class="navbar container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar" style="margin-bottom:-11px">
                <i class="fa fa-bars fa-2x" style="color:#ffffff;margin-top:-16px;"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="~/Home/Index"><i class="glyphicon glyphicon-home"></i></a></li>


                @Html.Action("Menu", "Home", new List<Web_MVC.Models.Category>())

            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" title="Account" data-toggle="dropdown">Account <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-menu" style="margin-left: -203.625px;">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                @if (Session["Id"] == null)
                                {
                                    <li><a href="~/Admin/Account/Signin" title="Log in">Log in <i class="glyphicon glyphicon-log-in"></i></a></li>
                                }
                                else
                                {
                                    <li><a href="~/Admin/Account/Logout" title="Log out"> @Session["FullName"] <i class="glyphicon glyphicon-log-out"></i></a></li>
                                }
                                <li><a href="~/Admin/Account/Signup" title="Sign up">Sign up <i class="glyphicon glyphicon-user"></i></a></li>
                            </ul>
                        </div>
                    </div>
            </ul>
        </div>
    </nav>
</header>


<body>
    <div id="page-content" class="index-page container">
        <div class="row">

            @RenderBody()

            <div id="sidebar">
                <div class="col-md-4">
                    <!---- Start Widget ---->
                    <div class="widget wid-tags">
                        @using (Html.BeginForm("TimKiem", "Home", FormMethod.Post))
                        {
                            <div class="heading"><h4>Tìm kiếm</h4></div>
                            <div class="content">
                                <form role="form" class="form-horizontal" method="post" action="">
                                    <input type="text" placeholder="Nhập từ khóa" name="tukhoa" class="form-control">
                                </form>
                            </div>
                        }
                    </div>
                    <!---- Start Widget ---->
                    @Html.Action("TinTucMoiNhat", "Home", new List<Web_MVC.Models.News>())
                    <!---- Start Widget ---->
                    @Html.Action("TheLoaiDropdown", "Home", new List<Web_MVC.Models.Category>())
                    <!-- Start Widget -->
                    <div class="widget wid-new-post">
                        <div class="heading"><h4>New Posts</h4></div>
                        <div class="content">
                            <h6>Lorem Ipsum is simply dummy</h6>
                            <img src="~/Content/images/22.jpg" />
                            <ul class="list-inline">
                                <li><i class="fa fa-calendar"></i>25/3/2015</li>
                                <li><i class="fa fa-comments"></i>1,200</li>
                            </ul>
                            <p>Title should not overflow the content area A few things to check for: Non-breaking text in the...</p>
                            <h6>Lorem Ipsum is simply dummy</h6>
                            <img src="~/Content/images/23.jpg" />
                            <ul class="list-inline">
                                <li><i class="fa fa-calendar"></i>25/3/2015</li>
                                <li><i class="fa fa-comments"></i>1,200</li>
                            </ul>
                            <p>Title should not overflow the content area A few things to check for: Non-breaking text in the...</p>
                            <h6>Lorem Ipsum is simply dummy</h6>
                            <img src="~/Content/images/24.jpg" />
                            <ul class="list-inline">
                                <li><i class="fa fa-calendar"></i>25/3/2015</li>
                                <li><i class="fa fa-comments"></i>1,200</li>
                            </ul>
                            <p>Title should not overflow the content area A few things to check for: Non-breaking text in the...</p>
                        </div>
                    </div>
                    <!---- Start Widget ---->
                    <div class="widget wid-tweet">
                        <div class="heading"><h4>Tweet</h4></div>
                        <div class="content">
                            <div class="tweet-item">
                                <p><i class="fa fa-twitter"></i> TLAS - Coming Soon PSD Mockup</p>
                                <a>https://t.co/dLsNZYGVbJ</a>
                                <a>#psd</a>
                                <a>#freebie</a>
                                <a>#freebie</a>
                                <a>#dribbble</a>
                                <span>July 15th, 2015</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="wrap-footer">
            <div class="container">
                <div class="row">
                    <div>
                        <span>&nbsp;&nbsp;&nbsp; <i class="fa fa-child"></i> Đang online: </span><span style="font-weight:bold">@application["online"]</span>
                        <span>&nbsp;&nbsp;&nbsp; <i class="fa fa-child"></i> Tổng lượt truy cập: </span><span style="font-weight:bold">@application["counter"]</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <p>Copyright 2016 - Designed by Vũ Đức Hiến</p>
        </div>
    </footer>
    <!-- Footer -->
    <!-- JS -->
    <script src="/Content/owl-carousel/owl.carousel.js"></script>
    <script>
        //Js slide
        $("#owl-demo").owlCarousel({
            autoPlay: 3000,
            items: 5,
            itemsDesktop: [1199, 4],
            itemsDesktopSmall: [979, 4]
        });

        $(document).ready(function () {
            $("#owl-demo-1").owlCarousel({
                autoPlay: 3000,
                items: 1,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [400, 1]
            });
            $("#owl-demo-2").owlCarousel({
                autoPlay: 3000,
                items: 3,

            });
        });
    </script>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


    <script type="text/javascript" src="/Content/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('.form_date').datetimepicker({
            language: 'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_time').datetimepicker({
            language: 'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 1,
            forceParse: 0
        });
    </script>
</body>
</html>
<noembed>