@model List<Web_MVC.Models.News>
@{
    foreach (var theloai in Model.Take(1))
    {
        ViewBag.Title = theloai.Category.Name;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="well-sm index-page" style="border:1px solid #d5d5d5; margin-bottom:1%;border-radius:unset;">
        <a href="/">Trang chủ</a> >> @foreach (var theloai in Model.Take(1))
        {
            <a href = "/Home/TrangTheLoai/@theloai.CategoryId"> @theloai.Category.Name</a>
        }
    </div>
</div>
<div class="col-md-6">
    <div class="widget wid-vid">
        <div class="heading">
            <h4>
                @foreach (var theloai in Model.Take(1))
                {
                    <a href="/Home/TrangTheLoai/@theloai.CategoryId">@theloai.Category.Name</a>
                }
            </h4>
        </div>

        @foreach (var theloai in Model)
        {
            <div class="row" style="margin-bottom:10px">
                <div class="col-sm-3 col-xs-4">
                    <a href="/Home/Detail/@theloai.Id"> <img src="@theloai.Avatar" style="width:100%;height:120px" /></a>
                </div>
                <div class="col-sm-9">
                    <a href="/Home/Detail/@theloai.Id">@theloai.Title</a><br />

                    <span><i class="fa fa-clock-o"></i> @theloai.Dateposted.Value.ToString("dd/MM/yyyy hh:mm tt")</span> /
                    <span><i class="fa fa-eye"></i> @theloai.View</span>
                    <br />
                    @if (@theloai.Summary.Length > 110)
                    {
                        <span>@theloai.Summary.Substring(0, 110)...</span>
                    }
                    else
                    {
                        <span>
                            @theloai.Summary
                        </span>
                    }
                </div>
            </div>
        }
    </div>
</div>

