@*@model Web_MVC.Models.MultiModel_View*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/Content/css/bootstrap.css" type="text/css">

    <!-- Owl Carousel Assets -->
    <link href="/Content/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/Content/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Content/css/style.css">
    <link href="/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/Content/font-awesome-4.4.0/css/font-awesome.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <!-- Core JavaScript Files -->
    <script src="/Content/js/bootstrap.js"></script>

</head>

<header>
    <!--Navigation-->
    <nav id="menu" class="navbar container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar" style="margin-bottom:-11px">
                <i class="fa fa-bars fa-2x" style="color:#ffffff;margin-top:-16px;"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="~/Home/Index"><i class="glyphicon glyphicon-home"></i></a></li>
                @*@if (Model.dsTheloai != null)
                    {
                        foreach (var item in Model.dsTheloai)
                        {
                            <li class="dropdown">
                                <a href="@item.Url" class="dropdown-toggle" title="@item.Name" data-toggle="dropdown">@item.Name <i class="fa fa-caret-down"></i></a>
                                @if (item.Category1.Count > 0)
                                {
                                    <div class="dropdown-menu">
                                        <div class="dropdown-inner">
                                            <ul class="list-unstyled">
                                                @foreach (var item2 in item.Category1)
                                                {
                                                    <li><a href="@item2.Url" title="@item2.Name"><i class="fa fa-caret-right"></i> @item2.Name</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                }
                            </li>
                        }*@
                }
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" title="Account" data-toggle="dropdown">Account <i class="fa fa-caret-down"></i></a>
                    <div class="dropdown-menu" style="margin-left: -203.625px;">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li><a href="~/Admin/Account/Signin" title="Log in">Log in <i class="glyphicon glyphicon-log-in"></i></a></li>
                                <li><a href="~/Admin/Account/Signup" title="Sign up">Sign up <i class="glyphicon glyphicon-user"></i></a></li>
                            </ul>
                        </div>
                    </div>
            </ul>

            @*<div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>*@
        </div>
    </nav>
</header>


<body>

    @RenderBody()

    <footer>
        <div class="wrap-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-footer footer-1">
                        <div class="footer-heading"><h1><span style="color: #fff;">NEWSPAPER</span></h1></div>
                        <div class="content">
                            <p>Never missed any post published in our site. Subscribe to our daly newsletter now.</p>
                            <strong>Email address:</strong>
                            <form action="#" method="post">
                                <input type="text" name="your-name" value="" size="40" placeholder="Your Email" />
                                <input type="submit" value="SUBSCRIBE" class="btn btn-3" />
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4 col-footer footer-2">
                        <div class="footer-heading"><h4>Tags</h4></div>
                        <div class="content">
                            <a href="#">animals</a>
                            <a href="#">cooking</a>
                            <a href="#">countries</a>
                            <a href="#">city</a>
                            <a href="#">children</a>
                            <a href="#">home</a>
                            <a href="#">likes</a>
                            <a href="#">photo</a>
                            <a href="#">link</a>
                            <a href="#">law</a>
                            <a href="#">shopping</a>
                            <a href="#">skate</a>
                            <a href="#">scholl</a>
                            <a href="#">video</a>
                            <a href="#">travel</a>
                            <a href="#">images</a>
                            <a href="#">love</a>
                            <a href="#">lists</a>
                            <a href="#">makeup</a>
                            <a href="#">media</a>
                            <a href="#">password</a>
                            <a href="#">pagination</a>
                            <a href="#">wildlife</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-footer footer-3">
                        <div class="footer-heading"><h4>Link List</h4></div>
                        <div class="content">
                            <ul>
                                <li><a href="#">MOST VISITED COUNTRIES</a></li>
                                <li><a href="#">5 PLACES THAT MAKE A GREAT HOLIDAY</a></li>
                                <li><a href="#">PEBBLE TIME STEEL IS ON TRACK TO SHIP IN JULY</a></li>
                                <li><a href="#">STARTUP COMPANY’S CO-FOUNDER TALKS ON HIS NEW PRODUCT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <p>Copyright 2016 - <a href="#" target="_blank" rel="nofollow">Bootstrap Themes</a> Designed by 365Bootstrap.com</p>
        </div>
    </footer>
    <!-- Footer -->
    <!-- JS -->
    <script src="/Content/owl-carousel/owl.carousel.js"></script>
    <script>
        //Js slide
        $("#owl-demo").owlCarousel({
            autoPlay: 3000,
            items: 5,
            itemsDesktop: [1199, 4],
            itemsDesktopSmall: [979, 4]
        });

        $(document).ready(function () {
            $("#owl-demo-1").owlCarousel({
                autoPlay: 3000,
                items: 1,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [400, 1]
            });
            $("#owl-demo-2").owlCarousel({
                autoPlay: 3000,
                items: 3,

            });
        });
    </script>

    <script type="text/javascript" src="/Content/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    @*<script type="text/javascript" src="/Content/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>*@
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('.form_date').datetimepicker({
            language: 'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_time').datetimepicker({
            language: 'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 1,
            forceParse: 0
        });
    </script>
</body>
</html>
